body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #000000;
}


.navbar {
    display: flex;
    justify-content: space-between;
    padding: 15px 40px;
    background: #000;
    color: white;
    position: sticky;
    top: 0;
}



/* HERO SECTION */
.hero {
    position: relative;
    height: 80vh;
    background: linear-gradient(to bottom, #dcdcdc, #000);
    padding: 50px;
    color: white;
}

.hero-text {
    margin-top: 10px;
    color:#000000
}

.hero p {
    font-size: 20px;
}

.img img {
    width: 200px;
    height: 200;
    border-radius: 10%;
    object-fit: cover;
}

.nav-links { 
    list-style: none; 
    display: flex; 
    gap: 30px; 
}


footer {
    background: #000;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;
}
